/* .main_div{
    width: 100%;
    height: 90vh;
    position: relative;
}

.box{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 50px 40px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.box h1{
    margin-bottom: 30px;
    color : white;
    text-align: center;
    text-transform: capitalize;
}

.box .inputbox{
    position: relative;
}

.box .inputbox input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    letter-spacing: 0px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
}

.box .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px;
    font-size: 16px;
    color: white;
    transition: 0.5s;
}

.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label{
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box .btn--link{
    text-align: center;
}

.box .btns{
    height: auto;
    border: none;
    outline: none;
    color: white;
    background: blue;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    margin: 20px auto 0;
}

.box .btns:hover{
    outline: 2px solid #fff;
}

.box .btns:focus{
    outline: 2px solid #fff;
}

.box a{
    color: #03a9f4;
    outline: none;
}




@media screen and (max-width: 768px){
    .box{
        padding: 30px;
        width: 350px;
    }
    
    .box h1{
        font-size: 30px;
    }

    .box .inputbox input{
        width: 100;
        padding: 10px;
    }
}


@media screen and (max-width: 480px){
    .main_div{
        height: 100vh;
    }

    .box{
        padding: 30px;
        width: 270px;
    }
    
    .box h1{
        font-size: 24px;
    }

    .box .inputbox label{
        font-size: 13px;
    }

    .box .inputbox input{
        padding: 7px;
        font-size: 14px;
    }

    .box .inputbox input:focus ~ label,
    .box .inputbox input:valid ~ label{
        font-size: 11px;
    }

    .box .btns{
        font-size: 14px;
    }

    .box a{
        font-size: 14px;
    }
}


@media screen and (max-width: 320px){
    .box{
        padding: 30px;
        width: 240px;
    }
    
    .box h1{
        font-size: 22px;
        margin-bottom: 30px;
    }

    .box .inputbox label{
        font-size: 13px;
    }

    .box .inputbox input{
        padding: 7px;
        font-size: 14px;
    }

    .box .inputbox input:focus ~ label,
    .box .inputbox input:valid ~ label{
        font-size: 11px;
    }

    .box .btns{
        font-size: 14px;
    }

    .box a{
        font-size: 14px;
    }
}

 */




















 .login--main{
    width: 100%;
    background-color: rgb(51, 65, 85);
    padding: 70px 0;
}

.login--container{
    background-color: #fff;
    width: 330px;
    border: 1px solid black;
    margin: 0 auto ;
    padding: 10px 30px 40px;
    border-radius: 10px;
}

.login--container a{
    background-color: #fff;
}

.login form{
    background-color: #fff;
}

.login--text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: transparent;
}

.login--inputBox{
    margin-bottom: 20px;
    position: relative;
}

.login--inputBox div{
    display: flex;
    border: 1px solid black;
    border-radius: 0px;
    width: 100%;
}

.login--inputBox div span{
    background-color: #fff;
}

.login--inputBox div input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 0 5px;
    border-left: 1px solid gray;
    background-color: #fff;
}

.login--inputBox div input:focus ~ label{
    position: absolute;
    display: block;
    top: -12px;
    left: 5px;
    background-color: white;
    color: #000;
    padding: 2px 5px;
    z-index: 1;
}

.login--inputBox label{
    position: absolute;
    left: 47px;
    top: 9px;
    z-index: -1;
    transition: 0.5s;
    font-size: 13px;
    color: transparent;
    font-weight: 500;
    background-color: #fff;
}

.login form > a{
    text-decoration: none;
    margin-bottom: 30px;
    font-weight: 500;
    border-bottom: 1px solid rgb(78, 76, 76);
    padding: 2px 0;
    color: rgb(78, 76, 76);
}

.login ion-icon{
    background-color: #fff;
    padding: 8px 10px;
    font-size: 20px;
}

.login--btn{
    padding: 9px 25px;
    background-color: rgb(51, 65, 85);;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.login form > span{
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-align: center;
    background-color: #fff;
}

.login form > span a{
    background-color: #fff;
    text-decoration: none;
    color: rgba(196, 13, 13, 0.959);
    font-size: 16px;
    padding-left: 5px;
    font-weight: 700;
    cursor: pointer;
}


@media screen and (max-width : 480px) {
    .login--main{
        padding: 40px 0;
    }
 
    .login--container{
        width: 290px;
    }

    .login--text{
        font-size: 24px;
    }

    .login form > span{
        font-size: 13px;
    }

    .login form > span a{
        font-size: 14px;
    }
}


@media screen and (max-width : 320px) {
    .login--container{
        width: 90%;
        padding: 10px 20px 40px;
    }

    .login--text{
        font-size: 20px;
    }

    .login ion-icon{
        padding: 8px 10px;
        font-size: 18px;
    }    
}