.order--from--customer{
    text-align: center;
    margin-bottom: 20px;
}

.order--from--customer h2{
    padding: 10px 0;
}

.order--container{
    width: 90%;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 5px;
}

.order--row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 5px 5px 5px 10px;
    margin: 10px;
}

.details{
    margin-right: 10px;
    text-align: start;
}

.btns{
    display: flex;
    flex-direction: row;
}

.btns button{
    padding: 2px 20px;
    height: 35px;
    outline: 1px solid black;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.btns .view{
    background-color: rgb(25, 102, 10);
}

.btns .accept{
    background-color: #ff9f00;
    margin: 0 10px;
}

.btns .reject{
    background-color: rgb(235, 16, 16);
}

@media screen and (max-width : 1200px){
    .order--container{
        width: 100%;
    }
}

@media screen and (max-width : 576px) {
    .btns{
        flex-direction: column;
    }

    .btns .accept{
        margin: 5px 0;
    }
}

@media screen and (max-width : 320px) {
    .order--row{
        flex-direction: column;
    }

    .btns{
        margin-top: 10px;
    }

    .order--from--customer h2{
        font-size: 18px;
    }
}